<footer class="page-footer font-small blue fixed-bottom">


  <div class="footer-copyright text-center py-3">
    Developed by<a class="btn-floating btn-li mx-1" href="https://github.com/suresh-44" target="blanc"> <code> Suresh N </code></a>
  </div>

</footer>