<h1>About</h1>
<p>
  This is a Node/Express application for listing down ideas for your Day
</p>

<p>Version : 1.0.0</p>

<p>Developed by <a href="https://github.com/suresh-44" target="blank"><code>Suresh N</code></a></p>