<div class="jumbotron text-center mt-5">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Plan your Work, Work your Plan, Be <br/><code> CREATIVE </code><br/>
  </p>
  <hr class="my-4">
  <p>Start to list Ideas for your Day</p>
  <a class="btn  btn-lg" style="background-color : #14c0a2; color : #ffffff " href="/ideas/add" role="button">Add Idea
  </a>
</div>