<div class="panda">
  <div class="ear"></div>
  <div class="face">
    <div class="eye-shade"></div>
    <div class="eye-white">
      <div class="eye-ball"></div>
    </div>
    <div class="eye-shade rgt"></div>
    <div class="eye-white rgt">
      <div class="eye-ball"></div>
    </div>
    <div class="nose"></div>
    <div class="mouth"></div>
  </div>
  <div class="body"> </div>
  <div class="foot">
    <div class="finger"></div>
  </div>
  <div class="foot rgt">
    <div class="finger"></div>
  </div>
</div>
<form action="/user/login" method="POST" class="forml">
  <div class="hand"></div>
  <div class="hand rgt"></div>
  <h1>Login</h1>
  <div class="forml-group">
    <input type="email" name="email" class="forml-control" required/>
    <label class="forml-label">Email </label>
  </div>
  <div class="forml-group">
    <input id="password" type="password" name="password" required="required" class="forml-control" required />
    <label class="forml-label">Password</label>
    <button class="btn btn-lg btn-block btnl">Login </button>
  </div>
</form>